.calc-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4.4rem;
  font-weight: initial;
  padding: .55em .1em;
  border: .5px solid #aaa;
  border-right: 2px solid #aaa;
  background-color: #222222;
  color: #ffffff;
}