.group-row {
  display: flex;
  width: 100%;
}

.group-column {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.number-group {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}